.skeleton {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.5s ease;
    background: linear-gradient(261.29deg, #cfd1d0 6.64%, #f8f8f7 93.36%);
    background-size: 200% 200%;
    animation: skeleton-loading 1.5s ease infinite alternate;
  }

  &:not(.loaded) {
    &::before {
      pointer-events: all;
      opacity: 1;
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
