name: Publish package to github registry

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24.13.1
          
      - name: Build
        run: npm i && npm build
        
