name: Publish package to github registry

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "publish"
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24.13.1
          registry-url: 'https://npm.pkg.github.com'
          scope: '@swecon'
          
      - name: Build
        run: npm i && npm run build
        
      - name: NPM Publisher
        uses: lyzhang1999/npm-publish@v1.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          registry: 'https://npm.pkg.github.com'
          access: 'public'
          greater-version-only: true
